---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

/// Makes an element's :before pseudoelement a FontAwesome icon.
/// @param {string} $content Optional content value to use.
@mixin icon($content: false) {

	text-decoration: none;

	&:before {

		@if $content {
			content: $content;
		}

		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;

	}

}
.icon {
		@include icon;
		position: relative;
		border-bottom: none;

		> .label {
			display: none;
		}
	}

ul {
	list-style: disc;
	margin: 0 0 0 0;
	padding-left: 1em;

	li {
		padding-left: 0.5em;
	}

	&.alt {
		list-style: none;
		padding-left: 0;

		li {
			border-top: solid 1px;
			padding: 0.5em 0;

			&:first-child {
				border-top: 0;
				padding-top: 0;
			}
		}
	}

	&.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
		margin-top: -0.675em;

		li {
			display: inline-block;
			padding: 0.675em 0.5em;

			a {
				color: #FFF;
				position: relative;
				display: block;
				width: 3.75em;
				height: 3.75em;
				border-radius: 100%;
				line-height: 3.75em;
				overflow: hidden;
				text-align: center;
				text-indent: 3.75em;
				white-space: nowrap;

				&:before {
					position: absolute;
					top: 0;
					left: 0;
					width: inherit;
					height: inherit;
					font-size: 1.85rem;
					line-height: inherit;
					text-align: center;
					text-indent: 0;
				}
			}
		}


	}

	&.actions {
		cursor: default;
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 0 2 0 0;
			vertical-align: middle;

			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.author {
	ul.icons li a {
			color: gray !important;
		}

}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
@import 'font-awesome.min.css';

